body {
  margin: 0;
  background: linear-gradient(to right, #000000, #737373, #000000);
  color: #adff2f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tic-tac-to {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.haeder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  gap: 18px;
}

.haeder img {
  width: 60px;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  border: none;
}

table td {
  width: 100px;
  height: 100px;
  border: none;
  text-align: center;
  font-size: 30px;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

table tr:not(:last-child) td {
  border-bottom: 5px solid #ffe92d;
  animation: flicker 1s infinite;
}

table tr td:not(:last-child) {
  border-right: 5px solid #ffe92d;
  animation: flicker 1s infinite;
}

.winning-line {
  height: 3px !important;
  background: linear-gradient(
    to right,
    #ffd729,
    #ff8917,
    #ff9c1b,
    #ffb621,
    #ffe92d
  );
  position: absolute;
}

.button {
  margin-top: 32px;
}

.button button {
  background: radial-gradient(#ffd729, #ff8917, #ff9c1b, #ffb621, #ffe92d);
  height: 40px !important;
  border: 2px solid #ff8917;
  border-radius: 7px;
  padding: 8px;
  color: #ffe92d;
  cursor: pointer;
}

.button button:hover {
  background: radial-gradient(#ff8917, #ffd729, #ffb621, #ffe92d, #ff9c1b);
  border: 2px solid #ffe92d;
  color: #ff8917;
}

.content div {
  max-width: 350px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.content div img {
  max-width: 350px;
  box-shadow: 0px 0px 50px 0px #dcd9d96c;
  border-radius: 8px;
}

@keyframes flicker {
  0% {
    border-color: #ffd729;
  }
  25% {
    border-color: #ff8917;
  }

  50% {
    border-color: #ff9c1b;
  }

  75% {
    border-color: #ffb621;
  }

  100% {
    border-color: #ffe92d;
  }
}
